.btn {
  width: 100%;
  max-width: 160px;
  color: #ccd5ae;
  height: 40px;
  border-radius: 10px;
  display: block;
  background-color: #606c38;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
}
.btn:active {
  transform: scale(0.97);
}
.btn:hover {
  box-shadow: 0 0 4px 1px #d9ed92;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.4rem;
    max-width: 145px;
    height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .btn {
    font-size: 1.4rem;
    max-width: 130px;
    height: 30px;
  }
}
.form-container {
  padding: 10px 25px;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #7a7a7a;
  border-radius: 5%;
  background-color: #e9edc9;
}
@media screen and (max-width: 768px) {
  .form-container {
    max-width: 350px;
  }
}
  @media screen and (max-width: 450px) {
    .form-container {
      max-width: 300px;
    }
}
.form__title {
  color: #2a9d8f;
  font-size: 3rem;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form__title {
    font-size: 2rem;
  }
}
  @media screen and (max-width: 450px) {
    .form__title {
      font-size: 1.5rem;
    }
}
.form__field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.form__field-label {
  color: #e9edc9;
  font-size: 2.3rem;
  text-align: start;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .form__field-label {
    font-size: 1.2rem;
    height: 40px;
  }
}
  @media screen and (max-width: 450px) {
    .form__field-label {
      font-size: 1.5rem;
      height: 35px;
    }
  }

  .form__field-input {
    color: black;
    font-size: 2.3rem;
    height: 50px;
    width: 100%;
    border: 2px solid rgba(192, 192, 191, 0.5411764706);
    border-radius: 15px;
    padding: 0 10px;
  }

  .form__field-input:focus {
    outline: none;
    box-shadow: 0 0 12px 1px #99befa;
  }

  .form__field-input::placeholder {
    color: #faedcd;
    font-size: 1.8rem;
  }

  @media screen and (max-width: 768px) {
    .form__field-input::placeholder {
      font-size: 1.4rem;
      height: 35px;
    }
  }
  @media screen and (max-width: 450px) {
    .form__field-input::placeholder {
      font-size: 1.5rem;
    }
  }
  .form__btn {
    color: white;
    background-color: #283618;
    margin: 10px auto;
  }

  .form__notice {
    color: #d9ed92;
    text-align: center;
    font-size: 2.3rem;
    margin-top: 15px;
  }

  @media screen and (max-width: 768px) {
    .form__notice {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 450px) {
    .form__notice {
      font-size: 1.4rem;
    }
  }
  .form__link {
    color: #99befa;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .page-authorization {
    height: 100%;
  }

  .page-authorization-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd5ae;
  }

  html {
    height: 100%;
  }

  html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }

  html body {
    height: 100%;
  }

  .hide {
    display: none !important;
  }

/*# sourceMappingURL=style.css.map */
