.form{
  border:1px solid black;
  &-container{
  padding:10px 25px;
  max-width: 500px;
  margin: 0 auto;
    border: 2px solid #7a7a7a;
    border-radius: 5%;
    background-color: azure;

    @include  respond-to(middle){
      max-width: 430px;
    }
    @include  respond-to(mobile){
      max-width: 300px;
    }
  }
&__title {
  color: #7a7a7a;
  font-size: $title-large;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  @include  respond-to(middle) {
    font-size: $title-middle;
  }
  @include  respond-to(mobile) {
    font-size: $title-mobile;
  }
}
  &__field{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;

    &-label{
      color: red;
      font-size: $text-large;
      text-align: start;
      align-self: flex-start;

      @include  respond-to(middle){
        font-size: $text-middle;
      }
      @include  respond-to(mobile){
        font-size: $text-mobile;
      }
    }
    &-input{
      color: black;
      font-size:$text-large;
      height: 50px;
      width: 100%;
      border: 1.5px solid #c0c0bf8a;
      border-radius: 15px;
      padding: 0 10px;

      @include  respond-to(middle){
        font-size: $title-middle;
        height: 40px;
      }
      @include  respond-to(mobile){
        font-size: $title-mobile;
        height: 35px;
      }

      &:focus {
        outline: none;
        box-shadow:0 0px 4px 1px #99befa;
      }
      &::placeholder {
        color: pink;
        font-size: $sub-text-large;

        @include  respond-to(middle){
          font-size: $sub-text-middle;
        }
        @include  respond-to(mobile){
          font-size: $sub-text-mobile;
        }
      }
    }
  }

}
