@import "../components/form-autorization";

.page-authorization{
  height: 100%;

  &-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
  }
}